tensorflow==2.12.0
pandas 
mlflow
numpy
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
nltk
pymongo
boto3
mypy-boto3-s3
regex
pydot
graphviz
dagshub
Flask-SQLAlchemy
bcrypt
-e .
