tensorflow
dvc
pandas
numpy
matplotlib
seaborn
python-box
tqdm
ensure==1.0.2
joblib
Pillow
gTTS
IPython
types-PyYAML
ipykernel
boto3
mlflow==2.2.2
mypy-boto3-s3
botocore
Flask
Flask-Cors
pymongo
scipy
gdown
-e .